<div class="d-flex flex-column justify-content-center banner-color">

	<div class="d-flex flex-column justify-content-center align-items-center">
<div class="row align-items-center ms-2">
    <div class="col-4 col-md-4 col-sm-12">
      <%= image_tag 'projects/profile_clear.png', alt: "profile photo", class: 'avatar-large' %>
    </div>
    <div class="col-8 col-md-8 col-sm-12">
      <h1 class="title-main fw-light text-white">Portfolio</h1>
      <p>Words here</p>
      <div class="button-group">
      <button class="button-blue">Normal Mode</button>
      <button class="button-blue">Cartoon Mode</button>
      </div>
    </div>
  </div>
</div>
</div>
