<div class="d-flex flex-row justify-content-center banner">
<header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Hi there! I'm</h6>
                <h6 class="title">Sarah Amour</h6>
                <p>UI/UX Designer & Developer</p>

                <div class="buttons pt-3">
                    <button onclick="window.open('#about','_self');" class="button-blue">About Me</button>
                    <button onclick="window.open('#projects','_self');" class="button-blue">My Projects</button>
                </div>


                <div class="socials mt-4">
                    <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                </div>
            </div>
            <div class="img-holder">
              <%= image_tag 'projects/profile_character2.png', alt: "profile photo", class: 'header-image' %>
            </div>
        </div>
</div>
