<div class="d-flex flex-row justify-content-center banner">
<header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Hi there! I'm</h6>
                <h6 class="title">Sarah Amour</h6>
                <p>UI/UX Designer & Developer</p>

                <div class="buttons pt-3">
                    <button class="button-blue">About Me</button>
                    <button class="button-blue" onclick="window.dialog.showModal();">About Me TLDR</button>

          <dialog id="dialog">
            <h2>The long story:</h2>
            <p>In 2017, I traded the rolling green hills of Vermont to move across the globe to the bustling city of Seoul, South Korea after receiving the Korean Government Scholarship (KGSP). I was able to acquire not only a Masters degree in International Relations from Hanyang University, but also a Business Certification and deeper understanding of the Korean language.</p>
            <p>Unfortunately COVID arrived around the same time as my graduation, having me to make the choice of leaving or staying in Korea. Lucky for me, I made a wise choice and decided to stay! This allowed me to find a job right after graduation in an early beauty-tech startup on the Social Media and Marketing team. With only four employees (including the CEO), it was truly a sink or swim environment. But despite the challenges, the speed at which I learned was astronomical.</P>
            <p>I discovered that I love a fast-paced and dynamic environment that allows for trying new things and team collaboration. And thanks to this environment, I was able to build upon a passion. Design! The success of our social media thanks to a well designed content strategy gave me confidence and excitement moving forward. I also partook in designing UI/UX elements of the beauty app, along with packaging and merchandise. I'm truly grateful for this experience for it helped to harness the creativity and skills I already had and strengthen them!</p>
            <p>After 3 years, I decided the environment no longer could foster the growth I wished for. So I set my sites on career and personal development, through the exploration of new cultures and gaining new technical skills. Traveling 15 countries in 4 months and participating in a 9 week-intensive web development bootcamp helped me shape my desired path forward.</p>
            <p>Of course, there were many other teachings and freelance positions that have helped nurture further growth. But to keep this TLDR about me to a readable length, I'd be happy to share those experiences through a deeper conversation! Please feel free to reach out through any of the methods provided on my site! </p>
            <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
          </dialog>
                </div>

                <div class="socials mt-4">
                    <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                </div>
            </div>
            <div class="img-holder">
              <%= image_tag 'projects/profile_character2.png', alt: "profile photo", class: 'header-image' %>
            </div>
        </div>
</div>
