<div class="container">
<h2>Interests</h2>
<p>Click an icon to see more</p>
<div class="interest-grid">
<%# <div class="interest-card"> %>
<div class="d-flex flex-direction-row">
                  <div class="interest-card" onclick="window.interest1.showModal();">
                  <i class="fa-solid fa-pencil" style="color:white; font-size: 48px;"></i>
                  </div>
                  <dialog id="interest1">
                    <h2>Drawing</h2>
                    <p> Creation is my passion and I love to create with my own two hands! From traditional pen and paper sketches to digital, I love art in all forms.</p>
                    <%= image_tag 'projects/art-grid-interest.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.interest1.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                  </div>
<%# <div class="interest-card"> %>
<div class="d-flex flex-direction-row">
                  <div class="interest-card" onclick="window.interest2.showModal();">
                  <i class="fa-solid fa-plane" style="color:white; font-size: 48px;"></i>
                  </div>
                  <dialog id="interest2">
                    <h2>Traveling</h2>
                    <p> I've been to 20 countries and counting! I love exploring new cultures, especially the cuisine.</p>
                    <%= image_tag 'projects/traveling-interest.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.interest2.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                  </div>
<%# <div class="interest-card"> %>
<div class="d-flex flex-direction-row">
                  <div class="interest-card" onclick="window.interest3.showModal();">
                  <i class="fa-solid fa-cookie-bite" style="color:white; font-size: 48px;"></i>
                  </div>
                  <dialog id="interest3">
                    <h2>Baking</h2>
                    <p> Whipping up some sweet treats are one of my pastimes! From bite-sized cookies to filling cakes, creating any dessert gives me joy!</p>
                    <%= image_tag 'projects/baking-interest.png', class:"modal-img", alt: "project image"%>
                  <button onclick="window.interest3.close();" aria-label="close" class="x">❌</button>
                  </dialog>
                  </div>
<%# <div class="interest-card"> %>

</div>
</div>
