<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <div class="cards">

            <div class="card-product">
              <div class="card-background"></div>
              <div class="floating">
                <%= image_tag 'projects/placeholder.png', alt: "project image", class: "card-product-img" %>
              </div>
              <div class="card-button-info">
              <div class="card-product-infos w-100">
                <div class="text-box">
                  <h2>Name here</h2>
                </div>
                  <p>Description here</p>
                </div>
                  <button class="button-blue">Click here</button>
              </div>
            </div>

             <div class="card-product-left">
              <div class="card-background-left"></div>
              <div class="floating">
                <%= image_tag 'projects/placeholder_image_2.png', alt: "project image", class: "card-product-img-left" %>
              </div>
              <div class="card-button-info-left">
              <div class="card-product-infos">
                <div class="text-box">
                  <h2>Name here</h2>
                </div>
                  <p>Description here</p>
                </div>
                  <button class="button-blue">Click here</button>
              </div>
            </div>

             <div class="card-product">
              <div class="card-background"></div>
              <div class="floating">
                <%= image_tag 'projects/placeholder.png', alt: "project image", class: "card-product-img" %>
              </div>
              <div class="card-button-info">
              <div class="card-product-infos w-100">
                <div class="text-box">
                  <h2>Name here</h2>
                </div>
                  <p>Description here</p>
                </div>
                  <button class="button-blue">Click here</button>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
