.select-container {
  width: 400px;
  border: 1px solid rgb(12, 192, 223);
  border-radius: 10px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.box {
  top: 85px;
  width: 74vmin;
  height: 15vmin;
  display: grid;
  place-content: center;
  color: rgb(68, 68, 68);
  // text-shadow: 0 1px 0 #000;

  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
      from var(--border-angle),
      rgb(68, 68, 68),
      rgb(68, 68, 68) 5%,
      rgb(68, 68, 68) 60%,
      rgb(68, 68, 68) 95%
    );

  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgba(12, 192, 223), rgb(12, 192, 223), rgb(12, 192, 223) 99%, transparent);

  background:
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.about-text-box .subtitle {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}

.about-text-box .title {
  margin-bottom: 0px;
  font-size: 2px;
  font-weight: bold;
}

.about-text-box .infos p {
  margin-top: -5px;
  font-size: 16px;
}

.about-text-box .btn {
  display: inline-block;
  margin: 0 2px;
}
